<a href="https://colab.research.google.com/github/byronomosh/Data-Science-/blob/main/Python_for_Data_Science(Introduction).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction To Python

In [ ]:
# When you want to run a command in Python use the command print() e.g
print("Hello, World")

Hello, World

In [ ]:
# When you are done writig codes in the Python command interface, use the command exist() to exist the interface

In [ ]:
# Indentation is key in Python, it is the spacing before the python command e.g
if 2<7:
  print("2 is less than 7") # An if statement also ends with a full colon
# Disregarding the indentation rule leads to an indentation Errror.
""" if 3<9:
print("3 is less than 9")"""

2 is less than 7

Variables

Variable names are containers used to store data Values

In [ ]:
# Examples of variables
x=2
y=6
z=9
p="Byron"
print(z+y+x)
print(p)

17
Byron

In [ ]:
# Commenting in Python is done through various ways 
# Using Hag symbol
# Using the triple quotation mark for multi-line commenting
# Another method for multi-line commenting is by selecting the entire line of codes you want to comment and press ctrl+/

Rules of Variable Naming
1.Variable names are Case Sensitive
y=5 is not same as Y= 6
2. Variable name can only start with either an underscore or an alphabet i.e
student=1000 or _student=21034
3. Variable names can only contain Underscore and alphanumeric characters but not special characters.
4. Variable names cannot start with a number

In [ ]:
# Multi Words Variable Naming
# Three ways
# 1. Carmel Casing
myVariableName=3 # Starts with a small letter
# 2. Pascal Casing 
MyVariableName=4 # Every word starts with a capital
# 3. Snake Casing
My_Variable_Name=5 # Use underscore to separate the words.

In [ ]:
# Multiple Values to Multiple Variables
x,y,z=2,3,4 # Make sure the number of values matches the number of variables
print(x+y+z)

9

In [ ]:
# t,h,r=8
# print(t)
# print(h)
# print(r)
#will bring a Type Error

In [ ]:
# One values multiple Variable
t=h=r=8
print(t)
print(h)
print(r)

8
8
8

In [ ]:
#Unpacking a list 
list1=[1,2,3,4,5,6]
z,a,w,r,t,y= list1
print(z)
print(a)
print(w)
print(r)
print(t)
print(y)

1
2
3
4
5
6

In [ ]:
z=4
y="Byron"
print(z,y)

4 Byron

In [ ]:
# A variable created outide a function, that means it can be used anywhere within the Python code interface, is called a Global Variable

**Data Types**
1. Intergers (int) 1,2,3,4,5
2. Strings,Objects (str) alphabets
3. floats decimals 2.34,3.0,4.3445
4. Complex numbers 3a,5z,9y
5. Boolen Yes or No

Data Types exist in the following categories:

Text - String

Numeric- Integer,floats,complex

sequence - list, turple

Boolen- bool

In [ ]:
# Casting
#This reffers to as specifying the type of data used
x=str("x")
print(x)

x

In [ ]:
z=int(2.5667)
print(z)

y=float(2)
z=int(2.5678)
s=float("3")
print(y)
print(z)
print(s)

2
2.0
2
3.0

In [ ]:
print(type(z))
#To know the Data type used, use the Type command type()

<class 'int'>

In [ ]:
# Complex numbers 
# examples
x=8j
z= 8j+45
print (x,z)

8j (45+8j)

In [ ]:
# Complex numbers are written with a "j" as the imaginary part

In order to generate Synthetic data set we use libraries like random and faker
Random- generate a random number within a given range e.g

random.randrange(1,10) - generate a single random number between 1 and 10

In [ ]:
import random

y=random.randrange(1,10)
print(y)

6

In [ ]:
# Strings
y="Byron"
# FOR Multiline string use either thriple double quotations or the triple single quotation marks
y="""Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1"""
print(y)

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1

In [ ]:
# To find the lenth of a string use i.e the number of characters used in the string
len(y)

228

In [ ]:
# String slicing
# Slicing uses indexing values to obtain some characters when a string
#Example
y="Byron"
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y[4])
print(y[0:]) # From the starting character
print(y[0:2]) # Character at index 2 is excluded
print(y[-5:-1])# Character at index-1 which is the furtherest one from the end is excluded

B
y
r
o
n
Byron
By
Byro

In [ ]:
# String Modification
# upper() Convert everything in the argument to Capital letters
# lower() Convert everything in the argument to small letters
# replace() Replaces one argument in the paranthessis with another onein the paranthessis
# split()

In [ ]:
#format()- this command takes pass arguement, format it and places it where placeholders {} are 
# Example
age= 24
print(" My name is Byron Apheth and my age is {}".format(age))
#example 2
Name1 = "Byron"
Name2= "Apheth"
age= 24
print("My name is {} {} and my age is {}" .format(Name1, Name2, age))
#Example 3
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

 My name is Byron Apheth and my age is 24
My name is Byron Apheth and my age is 24
I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# Boolen Values
x=35
z="Byron"
print(bool(x))
print(bool(z))

True
True

In [ ]:
print(2<5)

True

Python Operators

In [ ]:
# Addition
print(12+2345)

2357

**Lists**

Example

list1=[1,2,3,4,5,6,7]

list2=["Byron","Omondi","apheth"]

List has order(from index 0 on-wards), can be changed and allows debulicate values

In [ ]:
list1=[1,2,3,4,5,6,7,4,3,2,]
list2=["Byron","Omondi","apheth"] # Lists have square Brackets
list3=[1.234,2.344,23.566,23456.89]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 4, 3, 2]
['Byron', 'Omondi', 'apheth']
[1.234, 2.344, 23.566, 23456.89]

In [ ]:
len(list1) # Counts the number of item in List
print(type(list1))

<class 'list'>

In [ ]:
list4=[1,"Byron",2,"Omondi",2.345, "yes"] # List can contain different data types
print(list4)

[1, 'Byron', 2, 'Omondi', 2.345, 'yes']

In [ ]:
#The list() command is used to develop a list for example
z=list(("Mango","Orange","Onion","Banana"))
print(type(z))
print(z)

<class 'list'>
['Mango', 'Orange', 'Onion', 'Banana']

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
list1=[1,2,3,4,5,6,7,4,3,2,]
list2=["Byron","Omondi","apheth"] # Lists have square Brackets
list3=[1.234,2.344,23.566,23456.89]
print(list1[:]) # Show the entire items in the lists
print(list1[-5:-1]) #-1 is the last item on the list 
print(list1[1:2]) # Item index 2 is excluded
print(list1[1:7])# Item index 7 is aslo excluded

[1, 2, 3, 4, 5, 6, 7, 4, 3, 2]
[6, 7, 4, 3]
[2]
[2, 3, 4, 5, 6, 7]

In [ ]:
# Changing Items on the List
list2=["Byron","Omondi","apheth"]
list2[0]="Brandon"
list2[1]="Japheth"
list2[2]="Omondi"
print(list2)

['Brandon', 'Japheth', 'Omondi']

In [ ]:
list2[:2]=["Bramwel","Otieno"]
print(list2)

['Bramwel', 'Otieno', 'Omondi']

In [ ]:
# Inserting Object in a list
# We use the Insert() command e.g It has two arguement, 1 the position of the item you  want to insert and the item 
list2.insert(2,"Ochieng") # It does not replace but inserts an new object the list without removing another
print(list2)

['Bramwel', 'Otieno', 'Ochieng', 'Ochieng', 'Omondi']

In [ ]:
#Unlike the Insert() which one is able to specify the new item will go, append() pushes the item to the last position in the list
list2.append("Christine")
print(list2)

['Bramwel', 'Otieno', 'Ochieng', 'Ochieng', 'Omondi', 'Christine']

In [ ]:
# How do you combine two lists or rather, a list and a  set or a turple
# Use extend()command
# Example
list1=[1,2,3,4,5]
list2=[9,8,10,11,14]
list3=list1.extend(list2)
print(list3)
#the problem is with making the extended list as a new variable
#Solution
list1=[1,2,3,4,5]
list2=[9,8,10,11,14]
list1.extend(list2)
print(list1)

None
[1, 2, 3, 4, 5, 9, 8, 10, 11, 14]

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# How do we remove items from a list
#We use the Remove () command
#Example
list1=[1,2,3,4,5,6,7,8,9,10]
list1.remove(2)
print(list1)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list2=["Byron","Omondi","Apheth"]
list2.remove("Omondi")
print(list2)

['Byron', 'Apheth']

In [ ]:
# pop() and del command delete items in a list by stating the position of the item using index
list3=["Byron","Omondi","Apheth"]
list3.pop(1)
print(list3)

['Byron', 'Apheth']

In [ ]:
list4=["Byron","Omondi","Apheth"]
list4.pop() #without specifying the index, pop() command deletes the last item on the list
print(list4)

['Byron', 'Omondi']

In [ ]:
list5=["Byron","Omondi","Apheth"]
del list5[1]
print(list5)

['Byron', 'Apheth']

In [ ]:
# del Command can acqually delete the entire list
list6=["Byron","Omondi","Apheth"]
del list6
# print(list6) This would give you a Name error saying list6 not defined

In [ ]:
# To clear up every element within the list but still retain the list
# Use the command word clear()
list7=["Byron","Omondi","Apheth"]
list7.clear()
print(list7)

[]

# Loops In Lists

For loop and While Loop

For loop is used to iterate through a list of items in a List, turple, dictionary, set or a word

In [ ]:
list1=["Mango","Orange","Bananas","Watermellons","Blueberry"]
for i in list1:
  print(i)

Mango
Orange
Bananas
Watermellons
Blueberry

In [ ]:
z="Bananas"
for x in z:
  print(x)

B
a
n
a
n
a
s

In [ ]:
list2=["Eldoret","Kisumu","Nairobi","Mombasa","Busia","Kitale","Kitui"]
for i in range(len(list2)):
  print(list2[i])

Eldoret
Kisumu
Nairobi
Mombasa
Busia
Kitale
Kitui

In [ ]:
# While Loop/ Forever loop
list4=["Wafula","Fredy","Richard","Chebuu","Jasto","David","Dennis"]
i = 0 # Initialization is key in the while loop, it denote the starting point
while i < len(list4):
  print(list4[i])
  i=i+1 # Can be written as i+=1

Wafula
Fredy
Richard
Chebuu
Jasto
David
Dennis

In [ ]:
# Sorting elements within a list
#use the sort(), reverse ()
list1=["Eldoret","Kisumu","Nairobi","Mombasa","Busia","Kitale","Kitui"]
list1.sort() # Arrange alphabetically
print(list1)

['Busia', 'Eldoret', 'Kisumu', 'Kitale', 'Kitui', 'Mombasa', 'Nairobi']

In [ ]:
list2=[1,6,3,8,5,9,6]
list2.sort() # Arrange in ascending order- smallest to largest
print(list2)

[1, 3, 5, 6, 6, 8, 9]

In [ ]:
# To arrange in Discending order we use sort(reverse=True)
list3=[4,2,1,6,9,5,8]
list3.sort(reverse=True)
print(list3)

[9, 8, 6, 5, 4, 2, 1]

In [ ]:
list3.reverse() # Gives a reversed order 
print(list3)

[1, 2, 4, 5, 6, 8, 9]

In [ ]:
# Copying lists
list4=["brain","Joy","Mercy","Dennis"]
list5=list4.copy()
print(list5)

['brain', 'Joy', 'Mercy', 'Dennis']

# Turples
Tuples are used to store multiple items in a single variable.

Unlike the lists, turple uses normal parathesis

Has order and cannot be changed.

In [ ]:
turple1=("Byron","Omondi","Apheth","Onyango")
print(turple1)
print(type(turple1))

('Byron', 'Omondi', 'Apheth', 'Onyango')
<class 'tuple'>

In [ ]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

# Sets
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
# Set
myset={"Byron","Omondi","Onyango"}
print(myset)
print(type(myset))

{'Onyango', 'Omondi', 'Byron'}
<class 'set'>

In [ ]:
# To add element in a set use command add() and update
myset.add("Apheth")
print(myset)

{'Onyango', 'Omondi', 'Byron', 'Apheth'}

In [ ]:
# Upadate used to add a list or a turple to a set

Dictionaries 

Stores Data values in Key: Values 

Example

Model: Mercedes

Colour: Black

Millage: 25000

In [ ]:
dict1={"Model":"Mercedez",
       "Colour":"Black",
       "Milage":23500,
       "Country":"Singapore",
       "Sterring":"right"}
print(dict1)

{'Model': 'Mercedez', 'Colour': 'Black', 'Milage': 23500, 'Country': 'Singapore', 'Sterring': 'right'}

In [ ]:
print(type(dict1))

<class 'dict'>

In [ ]:
print(dict1)

{'Model': 'Mercedez', 'Colour': 'Black', 'Milage': 23500, 'Country': 'Singapore', 'Sterring': 'right'}

In [ ]:
# To access the values in the dictionary use the key as the index number
print(dict1["Model"])

Mercedez

In [ ]:
# To create a dictionary use the keyword dict() command
dict2=dict(Brand="Toyota",year=2023,Make="Singapore")
print(dict2)
print(type(dict2))

{'Brand': 'Toyota', 'year': 2023, 'Make': 'Singapore'}
<class 'dict'>

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
# To change values of the key use the following commands
dict1["Model"]="Jeep"
print(dict1)

{'Model': 'Jeep', 'Colour': 'Black', 'Milage': 23500, 'Country': 'Singapore', 'Sterring': 'right'}

In [ ]:
# Addding items in the dictionary
dict1["Date"]= "2rd September 2022"
print(dict1)

{'Model': 'Jeep', 'Colour': 'Black', 'Milage': 23500, 'Country': 'Singapore', 'Sterring': 'right', 'Date': '2rd September 2022'}

## If ... Else Conditions

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [ ]:
a= 2000
b=4567
if a<b:
  print(" a is less than b")
else:
  print("a is greater than b")

 a is less than b

## Elif

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a=23
b=54
if a ==b:
  print(" a is equal to b")
elif a>b:
  print(" a is greater than b")
else:
  print("a is less than b")

a is less than b

In [ ]:
# Just like if, elif has to have a condition following afterwards unlike the else condition

In [ ]:
# And / Or
a=12
b=13
c=16
if a>b and c>b:
  print(" a is greater than b and c is greater than b")
else:
  print(" Nope")
  #OR
if a>b or c>b:
  print(" a is greater than b and c is greater than b")
else:
  print(" Nope")

 Nope
 a is greater than b and c is greater than b

In [ ]:
# Nested if refers to if within another if ...else statement
# You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x=89
if x>20:
  print("It is greater than 20")
  if x>30:
    print("It is greater than 30")
    if x>50:
      print("It is greater than 50")
    else:
      print(" it is less than 50")
  else:
    print("It is less than 30")
else:
  print("It is less than 20")

It is greater than 20
It is greater than 30
It is greater than 50

In [ ]:
# To develop a school marks program we use if else and elif
marks=int(input())
if marks>=30 and marks<40:
  print("D")
elif marks>=40 and marks<50:
  print("C")
elif marks>= 50 and marks<60:
  print("B")
elif marks>=60:
  print("A")
else:
  print("Fail")

100
A

# More on Loops
For Loops

While Loops (Forever Loops)

In [ ]:
# While loop will continue with the execution as long as the statement is True
# Initialization is key in while loop
y=1 # Initial value
while y<9:
  print(y)
  y+=1

1
2
3
4
5
6
7
8

In [ ]:
# The break statement in While loop
# The Break statement stops the loop even if the statement is still true
y=1 # Initial value
while y<9:
  print(y)
  if y==5:
    break
  y+=1

1
2
3
4
5

In [ ]:
y=0 # Initial value
while y<9:
  y+=1
  if y==5:
    continue
  print(y)

1
2
3
4
6
7
8
9

In [ ]:
# For Loop
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)
list3=[1,2,3,4,5,6]
for i in list3:
  print(i)

1
2
3
4
5
6

In [ ]:
dict2={"Brand":"Mercedez","Colour":"Black","Model": "SUV","year":2023}
for i in dict2:
  print(dict2[i])

Mercedez
Black
SUV
2023

In [ ]:
# The break and continue statement works the same same way as in While loop
# The Range() command
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
for i in range(5):# 5 is not included
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10,2): # The 1st arguement is the starting point(by default is Zero), the second argument is the end point( not always included) and finally the last argument is the number of steps
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,1,-2): # The 1st arguement is the starting point(by default is Zero), the second argument is the end point( not always included) and finally the last argument is the number of steps
  print(i)

10
8
6
4
2

In [ ]:
## The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

# PYTHON FUNCTIONS
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
# CREATING A FUNCTION
# We start a function by the word def which in full means definition. We fisrt define the function
# We then create the function name e.g my_function add parethessis followed by a full column
def my_function():
  print(" My name is Byron Onyango Otieno")
# To call the Function we state the function name followed by parethsis
my_function()

 My name is Byron Onyango Otieno

In [ ]:
# Arguements or parameter are put inside the parentheisiss
def my_function(fname,lname):
  print("My name is "+ fname+ " " +lname)

my_function("Joseph","Ombachi")

My name is Joseph Ombachi

# Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# Python Lambda function
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.
# Syntax 
lambda arguments : expression

The expression is executed and the result is returned:

In [ ]:
y=lambda x:x*2
print(y(10)) # No indentation required

20

In [ ]:
x=lambda z:z+25
print(x(25))

50

In [ ]:
z=lambda x,v: x+v
print(z(2,8))

10

In [ ]:
m=lambda a,b,c: a+b+c # All the arguments used need to appear at the expression
print(m(12,18,20))

50

In [ ]:
# Use that function definition to make a function that always doubles the number you send in:
def my_function(n):
  return lambda a: a*n
mydoubler=my_function(2)

print(mydoubler(24))

48

In [ ]:
# Use that function definition to make a function that always tripple the number you send in:
def my_function(n):
  return lambda a: a*n
mydoubler=my_function(3)

print(mydoubler(30))

90

# PYTHON ARRAY
Array operate just like lists in python however we first need to import Numpy inorder to work with Arrays in Python